Visit here to activate your account.

<a href="https://brownfield-ma.herokuapp.com/users/<%=@user.id%>/activation">
  https://brownfield-ma.herokuapp.com/users/<%=@user.id%>/activation</a>

<%= link_to 'Activate Account', activation_url(@user) %>
