---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1576006225'
      Etag:
      - W/"3b93cd6cd6bc0e095db9f9051222641f"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TEST_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TEST_TOKEN>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":215169372,"node_id":"MDEwOlJlcG9zaXRvcnkyMTUxNjkzNzI=","name":"activerecord-obstacle-course","full_name":"ap2322/activerecord-obstacle-course","private":false,"owner":{"login":"ap2322","id":26877629,"node_id":"MDQ6VXNlcjI2ODc3NjI5","avatar_url":"https://avatars0.githubusercontent.com/u/26877629?v=4","gravatar_id":"","url":"https://api.github.com/users/ap2322","html_url":"https://github.com/ap2322","followers_url":"https://api.github.com/users/ap2322/followers","following_url":"https://api.github.com/users/ap2322/following{/other_user}","gists_url":"https://api.github.com/users/ap2322/gists{/gist_id}","starred_url":"https://api.github.com/users/ap2322/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ap2322/subscriptions","organizations_url":"https://api.github.com/users/ap2322/orgs","repos_url":"https://api.github.com/users/ap2322/repos","events_url":"https://api.github.com/users/ap2322/events{/privacy}","received_events_url":"https://api.github.com/users/ap2322/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ap2322/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/ap2322/activerecord-obstacle-course/deployments","created_at":"2019-10-15T00:22:15Z","updated_at":"2019-10-15T01:44:02Z","pushed_at":"2019-11-07T22:41:58Z","git_url":"git://github.com/ap2322/activerecord-obstacle-course.git","ssh_url":"git@github.com:ap2322/activerecord-obstacle-course.git","clone_url":"https://github.com/ap2322/activerecord-obstacle-course.git","svn_url":"https://github.com/ap2322/activerecord-obstacle-course","homepage":null,"size":67,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":204958762,"node_id":"MDEwOlJlcG9zaXRvcnkyMDQ5NTg3NjI=","name":"apartments_1908","full_name":"ap2322/apartments_1908","private":false,"owner":{"login":"ap2322","id":26877629,"node_id":"MDQ6VXNlcjI2ODc3NjI5","avatar_url":"https://avatars0.githubusercontent.com/u/26877629?v=4","gravatar_id":"","url":"https://api.github.com/users/ap2322","html_url":"https://github.com/ap2322","followers_url":"https://api.github.com/users/ap2322/followers","following_url":"https://api.github.com/users/ap[...]
