---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1576006225'
      Etag:
      - W/"d56d6943a23cf4f228e34042e73ea1bc"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Kerstimcgee","id":33880496,"node_id":"MDQ6VXNlcjMzODgwNDk2","avatar_url":"https://avatars2.githubusercontent.com/u/33880496?v=4","gravatar_id":"","url":"https://api.github.com/users/Kerstimcgee","html_url":"https://github.com/Kerstimcgee","followers_url":"https://api.github.com/users/Kerstimcgee/followers","following_url":"https://api.github.com/users/Kerstimcgee/following{/other_user}","gists_url":"https://api.github.com/users/Kerstimcgee/gists{/gist_id}","starred_url":"https://api.github.com/users/Kerstimcgee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Kerstimcgee/subscriptions","organizations_url":"https://api.github.com/users/Kerstimcgee/orgs","repos_url":"https://api.github.com/users/Kerstimcgee/repos","events_url":"https://api.github.com/users/Kerstimcgee/events{/privacy}","received_events_url":"https://api.github.com/users/Kerstimcgee/received_events","type":"User","site_admin":false},{"login":"mcat56","id":51488670,"node_id":"MDQ6VXNlcjUxNDg4Njcw","avatar_url":"https://avatars1.githubusercontent.com/u/51488670?v=4","gravatar_id":"","url":"https://api.github.com/users/mcat56","html_url":"https://github.com/mcat56","followers_url":"https://api.github.com/users/mcat56/followers","following_url":"https://api.github.com/users/mcat56/following{/other_user}","gists_url":"https://api.github.com/users/mcat56/gists{/gist_id}","starred_url":"https://api.github.com/users/mcat56/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcat56/subscriptions","organizations_url":"https://api.github.com/users/mcat56/orgs","repos_url":"https://api.github.com/users/mcat56/repos","events_url":"https://api.github.com/users/mcat56/events{/privacy}","received_events_url":"https://api.github.com/users/mcat56/received_events","type":"User","site_admin":false}]'
  recorded_at: Tue, 10 Dec 2019 18:31:10 GMT
recorded_with: VCR 5.0.0
