---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/turingschool?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1576006225'
      Etag:
      - W/"e0556d13d8ff884b8c2f6bc8407ccce3"
      Last-Modified:
      - Tue, 07 Aug 2018 01:54:26 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"turingschool","id":7934292,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc5MzQyOTI=","avatar_url":"https://avatars0.githubusercontent.com/u/7934292?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool","html_url":"https://github.com/turingschool","followers_url":"https://api.github.com/users/turingschool/followers","following_url":"https://api.github.com/users/turingschool/following{/other_user}","gists_url":"https://api.github.com/users/turingschool/gists{/gist_id}","starred_url":"https://api.github.com/users/turingschool/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turingschool/subscriptions","organizations_url":"https://api.github.com/users/turingschool/orgs","repos_url":"https://api.github.com/users/turingschool/repos","events_url":"https://api.github.com/users/turingschool/events{/privacy}","received_events_url":"https://api.github.com/users/turingschool/received_events","type":"Organization","site_admin":false,"name":"Turing
        School of Software & Design","company":null,"blog":"http://turing.io","location":"Denver,
        CO","email":"contact@turing.io","hireable":null,"bio":null,"public_repos":187,"public_gists":0,"followers":0,"following":0,"created_at":"2014-06-19T14:07:28Z","updated_at":"2018-08-07T01:54:26Z"}'
  recorded_at: Tue, 10 Dec 2019 18:31:10 GMT
recorded_with: VCR 5.0.0
