---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1575749978'
      Etag:
      - W/"fcf492d0693d9be9c4af2d98e46e0888"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TEST_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TEST_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225475517,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0NzU1MTc=","name":"brownfield-of-dreams","full_name":"ap2322/brownfield-of-dreams","private":false,"owner":{"login":"ap2322","id":26877629,"node_id":"MDQ6VXNlcjI2ODc3NjI5","avatar_url":"https://avatars0.githubusercontent.com/u/26877629?v=4","gravatar_id":"","url":"https://api.github.com/users/ap2322","html_url":"https://github.com/ap2322","followers_url":"https://api.github.com/users/ap2322/followers","following_url":"https://api.github.com/users/ap2322/following{/other_user}","gists_url":"https://api.github.com/users/ap2322/gists{/gist_id}","starred_url":"https://api.github.com/users/ap2322/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ap2322/subscriptions","organizations_url":"https://api.github.com/users/ap2322/orgs","repos_url":"https://api.github.com/users/ap2322/repos","events_url":"https://api.github.com/users/ap2322/events{/privacy}","received_events_url":"https://api.github.com/users/ap2322/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ap2322/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/ap2322/brownfield-of-dreams","forks_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/ap2322/brownfield-of-dreams/deployments","created_at":"2019-12-02T21:50:17Z","updated_at":"2019-12-07T17:14:20Z","pushed_at":"2019-12-07T17:14:18Z","git_url":"git://github.com/ap2322/brownfield-of-dreams.git","ssh_url":"git@github.com:ap2322/brownfield-of-dreams.git","clone_url":"https://github.com/ap2322/brownfield-of-dreams.git","svn_url":"https://github.com/ap2322/brownfield-of-dreams","homepage":"","size":7930,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":19,"license":null,"forks":0,"open_issues":19,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":216243292,"node_id":"MDEwOlJlcG9zaXRvcnkyMTYyNDMyOTI=","name":"activerecord-obstacle-course","full_name":"mcat56/activerecord-obstacle-course","private":false,"owner":{"login":"mcat56","id":51488670,"node_id":"MDQ6VXNlcjUxNDg4Njcw","avatar_url":"https://avatars1.githubusercontent.com/u/51488670?v=4","gravatar_id":"","url":"https://api.github.com/users/mcat56","html_url":"https://github.com/mcat56","followers_url":"https://api.github.com/users/mcat56/followers","following_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1575749978'
      Etag:
      - W/"dc3e270995f60fb[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1575749978'
      Etag:
      - W/"d7c0509eb41c6b0[...]
[...]
