---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=%7B%22playlist_id%22=%3E%22PL1Y67f0xPzdOty2NDYKTRtxeoxvW1mAXu%22%7D&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"j6xRRd8dTPVVptg711_CSPADRfg/ewwRz0VbTYpp2EGbOkvZ5M_1mbo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/ewwRz0VbTYpp2EGbOkvZ5M_1mbo\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 12 Dec 2019 18:12:15 GMT
recorded_with: VCR 5.0.0
