---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL1Y67f0xPzdOty2NDYKTRtxeoxvW1mAXu&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"j6xRRd8dTPVVptg711_CSPADRfg/_-Yi-5RevhRVbOJdNw1zxZw-5Ww"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/_-Yi-5RevhRVbOJdNw1zxZw-5Ww\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"j6xRRd8dTPVVptg711_CSPADRfg/bxpn3vxGAbF9JqEkz8zVpOCGtTA\"",
           "id": "PL1Y67f0xPzdOty2NDYKTRtxeoxvW1mAXu",
           "snippet": {
            "publishedAt": "2016-09-23T19:44:16.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Panels, Q&A with Turing staff and students",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/kXZlr-ytcTk/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/kXZlr-ytcTk/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/kXZlr-ytcTk/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/kXZlr-ytcTk/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/kXZlr-ytcTk/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "localized": {
             "title": "Panels, Q&A with Turing staff and students",
             "description": ""
            }
           },
           "contentDetails": {
            "itemCount": 6
           }
          }
         ]
        }
  recorded_at: Thu, 12 Dec 2019 06:33:54 GMT
recorded_with: VCR 5.0.0
